//
//  SDK.xcconfig
//  SDK
//
//  Created by Matthew Massicotte on 2021-05-27.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "xcconfigs/UniversalFramework_Framework.xcconfig"

FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/Carthage/Build

APPLICATION_EXTENSION_API_ONLY = YES
MACH_O_TYPE = staticlib

SWIFT_VERSION = 5.0

PRODUCT_MODULE_NAME = Stacksift
PRODUCT_NAME = Stacksift
CURRENT_PROJECT_VERSION = 8
DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
MARKETING_VERSION = 0.3.2

MACOSX_DEPLOYMENT_TARGET = 10.13
IPHONEOS_DEPLOYMENT_TARGET = 12.0
TVOS_DEPLOYMENT_TARGET = 12.0
WATCHOS_DEPLOYMENT_TARGET = 4.0

INFOPLIST_FILE = Info.plist
